.bandeau1class {
	BACKGROUND-IMAGE: url(../Images/bandeau718/observateurs_01.jpg)
}
.bandeau2class {
	BACKGROUND-IMAGE: url(../Images/bandeau718/observateurs_02.jpg)
}
.bandeau3class {
	BACKGROUND-IMAGE: url(../Images/bandeau718/observateurs_03.jpg)
}
